{% extends 'base.html.twig' %}

{% block body %}
    <div class="container about">
        <h1 class="text-center mb-5">About US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut deleniti dolorum ducimus enim et explicabo ipsam minus nesciunt officiis praesentium quae quasi quia, quibusdam quisquam sunt totam vel voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut deleniti dolorum ducimus enim et explicabo ipsam minus nesciunt officiis praesentium quae quasi quia, quibusdam quisquam sunt totam vel voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut deleniti dolorum ducimus enim et explicabo ipsam minus nesciunt officiis praesentium quae quasi quia, quibusdam quisquam sunt totam vel voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aut deleniti dolorum ducimus enim et explicabo ipsam minus nesciunt officiis praesentium quae quasi quia, quibusdam quisquam sunt totam vel voluptas.</p>
    </div>
{% endblock %}