{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-5 mt-3 text-center">The Performances</h1>
        {% for performance in performances %}
            <div class="card bg-light mb-5">
                <div class="row no-gutters">
                    <div class="col-5">
                        <img src="{{ performance.image }}" height="250px" width="300px" class="card-img-top m-2" alt="{{ performance.name }}">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h5 class="card-title mb-5 text-center">{{ performance.name }}</h5>
                            <p class="card-text">{{ performance.resume }}</p>
                            <div class="text-center mt-5">
                                <a href="" class="btn btn-dark mt-2 button-form">Take Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}