{% extends 'base.html.twig' %}

{% block title %}Edit Ticket{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Edit your Ticket</h1>
        {{ include('ticket/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('ticket/_delete_form.html.twig') }}
    </div>
{% endblock %}
