:root {
    /* make the backend contents as wide as the browser window */
    --body-max-width: 100%;
    /* change the background color of the <body> */
    --body-bg: #343b3f;
    /* remove all border radius to make corners straight */
    --border-radius: 5px;
}

body {
    background-color: #343b3f;
}

.sidebar-menu {
    background-color: #343b3f;
}

.sidebar-menu a {
    color: white;
}

.sidebar-menu .fa {
    color: white;
    filter: none;
}

