body {
    font-family: 'Noto Serif', serif;
}

.logo {
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    margin-right: 50px;
}

.banner {
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(54, 54, 54, 0.2) 45%, rgba(28, 28, 28, 0.6)), url("https://i.postimg.cc/cJbZ5k3Q/sergio-souza-x7-Ycc-Vl-YQQ-unsplash.jpg") center center / cover no-repeat;
    height: 500px;
    color: #FFF;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .15);
}

.text-banner {
    margin-top: 220px;
    font-family: 'Aladin', cursive;
    font-size: 70px;
}

.card-perf {
    background-color: #fef4e0 !important;
}

.login, .price, .about {
    margin-bottom: 200px;
    margin-top: 100px;
}

.validate {
    margin-bottom: 400px;
    margin-top: 100px;
}

.booking {
    margin-bottom: 100px!important;
}

.ticket-order {
    font-size: 20px;
}

.ticket-order h1 {
    font-size: 25px;
}

table, td, th {
    border: solid 2px #FFF;
    background-color:#f9f9f9;
    border-collapse:collapse;
    text-align: center;
    width: 900px;
    height: 50px;
}

th {
    background-color: #fff4e0;
}

.bg-ticket {
    background: url("https://i.postimg.cc/rFxjyfmd/Sans-titre-2.png") center center / cover no-repeat;
    border: solid 3px #000000;
    border-radius: 15px;
}

.bg-ticket h1 {
    text-decoration: underline;
    font-size: 25px;
}

.footer {
    font-size: 12px;
}

.network a {
    color: #FFF;
}

@media only screen and (min-width: 600px) {
    .footer {
        flex-direction: inherit !important;
        justify-content: space-around;
    }

    .bg-ticket {
        font-size: 25px;
    }
}